body{
    /*background-image: url(../img/1154459.jpg);*/
}
#foot{
    margin-top: 15px;
    color: #ffffff;
}
.oder{
    position: fixed;
    top: 83%;
    right: 7%;
}
#pinglunqu{
    margin-top: 52px;
}
#foot-talk{
    margin-top: 30px;
}